# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Logs
*.log
*.out

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
.vscode/

# Docker
*.pid
docker-compose.override.yml

# Environment & secrets
.env
*.secret
*.key
*.crt

# Spring Boot
application-*.yml
application-*.properties
