spring:
  profiles:
    active: dev
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 100MB
      file-size-threshold: 2MB
  datasource:
    url: jdbc:postgresql:///legalpro?cloudSqlInstance=ecstatic-seeker-474703-d4:us-central1:legalpro-postgres&socketFactory=com.google.cloud.sql.postgres.SocketFactory
    username: legalpro
    password: legalPro42#
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: 0

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

jwt:
  secret: legalPro42
  expirationMs: 86400000

logging:
  level:
    org.springframework.web.multipart: DEBUG
    org.apache.catalina.core: DEBUG

server:
  port: ${PORT:8080}
  address: 0.0.0.0

google:
  api:
    key: AIzaSyCd-N4mWAZ5qUixQKACUTogkYunUVYD-LE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    persist-authorization: true
    custom-js: /swagger-ui/custom-login.js

